[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymemcache = "3.4.1"
python-arango = "7.1.0"
python-dotenv = "0.15.0"
requests = "2.25.1"
redis = "3.5.3"
ujson = "4.0.2"

[dev-packages]

[requires]
python_version = "3.9"
