[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-arango = "==7.1.0"
python-dotenv = "==0.15.0"
requests = "==2.26.0"
redis = "==3.5.3"
ujson = "==4.0.2"
omero-py = "==5.9.1"
aioredis = "==2.0.0"
itsdangerous = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
